<h1>{{car.year}} {{car.manufacturer}} {{car.model}}</h1>
<h2>Posted by {{car.user.username}}</h2>

<div>
  <span id="auction-timer" 
        data-days="{{time_values.days}}"
        data-hours="{{time_values.hours}}"
        data-minutes="{{time_values.minutes}}"
        data-seconds="{{time_values.seconds}}"
        >
  </span>
</div>

<ul>
  {{#each car.bids as |bid|}}
    <li>{{bid.price}} - {{bid.user.username}}</li>
  {{/each}}
</ul>

